@charset "utf-8";

/* @font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2") format('woff');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'IM_Hyemin';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2") format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'IM_Hyemin', sans-serif;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 400;
    color: #282828;
    background-color: #e4f0ff;
    box-sizing: border-box;
}
a {
    color: #282828;
    text-decoration: none;
    text-align: center;
}
img {
    border: none;
    vertical-align: top;
    width: 100%;
}
input {
    vertical-align: top;
}
ol,
ul {
    list-style: none;
}
button {
    border: none;
    vertical-align: top;
}

.clear::after{
  content: "";
  display: block;
  clear: both;
}
.hidden{
  font-size: 0;
  color: transparent;
}
